<h1>Update Your Book</h1>

<form action="/books/<%=@book.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

<label> Title: </label>
<input="text" name="book[title]" id="book_title" value="<%=@book.title%>">
<label> Author: </label>
<input="text" name="book[author]" id="book_author" value="<%=@book.author%>">
<label> Description: </label>
<input="text" name="book[description]" id="book_description" value="<%=@book.description%>">
<label> Rank: </label>
<input="text" name="book[rank]" id="book_rank" value="<%=@pbook.rank%>">

<%@users.each do |user|%>
    <input type="radio" name="book[user_id]" id="<%= user.id%>" value="<%=user.id%>" <%='checked' if @book.username == username %>><%=username%></input>
<%end%>

  <br>

  <input type="submit" value="Update Book">
</form>