<h1>Update Your Book</h1>

<form action="/pets/<%=@pet.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

<label> Title: </label>
<input="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
<label> Author: </label>
<input="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
<label> Description: </label>
<input="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
<label> Rank: </label>
<input="text" name="pet[name]" id="pet_name" value="<%=@pet.name%>">

<%@users.each do |user|%>
    <input type="radio" name="book[user_id]" id="<%= user.id%>" value="<%=user.id%>" <%='checked' if @book.username == username %>><%=username%></input>
  <%end%>

  <br>

  <input type="submit" value="Update Book">
</form>