<h2><%=@user.name%> Book List</h2>
#<ul>
#  <%@user.books.each do |book|%>
 # <li><%=book.title%></li>
 # <li><%=book.author%></li>
 # <li><%=book.description%></li>
 # <li><%=book.rank%></li>
 # <%end%>
#</ul>